// Main Utilities
.container {
	max-width: $website-width;
	overflow: hidden;
	margin: auto;
	padding: 0 1.5rem;
}

.lead {
	font-size: 1.3rem;
	margin-bottom: 1.7rem;
}

.text-center {
	text-align: center;
}

.section-title {
	font-size: 2rem;
	display: block;
	text-align: center;
	padding-bottom: 0.5rem;
	font-weight: 100;
	text-transform: uppercase;
}

.bottom-line {
	display: block;
	margin: 0 auto 1rem auto;
	width: 4rem;
	height: 2px;
	background-color: $main-color;
}

// Buttons & Submits
%btn-shared {
	display: inline-block;
	border: 0;
	padding: 0.8rem 2rem;
	cursor: pointer;
	transition: all 0.5s ease-in;
}

.btn {
	&-main {
		@extend %btn-shared;
		color: $dark-color;
		background-color: $main-color;
	}

	&-light {
		@extend %btn-shared;
		color: $dark-color;
		background-color: $light-color;
	}

	&-dark {
		@extend %btn-shared;
		color: $light-color;
		background-color: $dark-color;
	}
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
	background-color: $main-color;
}

// Margin & Padding
.my {
	&-1 { margin: 1rem 0 }
	&-2 { margin: 2rem 0 }
	&-3 { margin: 3rem 0 }
	&-4 { margin: 4rem 0 }
}

.py {
	&-1 { padding: 1rem 0 }
	&-2 { padding: 2rem 0 }
	&-3 { padding: 3rem 0 }
	&-4 { padding: 4rem 0 }
}

// Background Colors
.bg {
	&-main {
		color: set-color-by-lightness($main-color);
		background-color: $main-color;
	}

	&-light {
		color: set-color-by-lightness($light-color);
		background-color: $light-color;
	}

	&-medium {
		color: set-color-by-lightness($medium-color);
		background-color: $medium-color;
	}

	&-dark {
		color: set-color-by-lightness($dark-color);
		background-color: $dark-color;
	}
}