@import 'config';
@import 'utilities';

// General styles
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Dosis', sans-serif;
	line-height: 1.6;
	background-color: white;
}

h2, h3, h4 {
	text-transform: uppercase;
}

img {
	width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $dark-color;
}

// Logo
#logo {
	width: 90px;
	height: 90px;
}

// Header styles
#header {
	// Header Home styles
	&-home {
		color: white;
		background: $bg-image no-repeat center right/cover;
		height: 100vh;

		// Header Content styles
		#header-content {
			text-align: center;
			padding-top: 17%;

			& > h1 {
				font-size: 4rem;
			}
		}
	}
	// Header Inner styles
	&-inner {
		
	}
}

// Main Nav styles
#main-nav {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;

	& > ul {
		display: flex;
	}

	& > ul > li {
		padding: 1rem 1.5rem;
	}

	& > ul > li > a {
		text-transform: uppercase;
		color: white;
		padding-bottom: 0.5rem;
		border-bottom: 3px solid transparent;
		transition: border-color 0.5s ease-in;

		&:hover {
			border-color: $medium-color;
		}

		&.current {
			border-color: $main-color;
		}
	}
}

// Home Sections
#home {
	& > #section-one {
		& .specials {
			margin-top: 3rem;
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: repeat(4, 1fr);

			& i.fas {
				color: $main-color;
			}
		}
	}

	& > #section-two {
		& .stats {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		
			& > ul {
				&:nth-of-type(odd) {
					background-color: $light-color;
				}

				&:nth-of-type(even) {
					background-color: $medium-color;
				}

				& li {
					line-height: 2;

					&.stats-title {
						font-size: 1.5rem;
					}

					&.stats-number {
						font-size: 2rem;
						font-weight: bold;
					}
				}
			}
		}
	}
}